.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  // Setting width and height
  width: 100%;
  max-width: var(--max-w);
  height: 60px;

  padding: var(--universal-padding);

  nav{
    //Giving last button margin left
    button:last-of-type{
      margin-left: 10px;
    }
  }
}
