@import '../../assets/global-styles/mixins';

.tooltip--container {
  width: fit-content;

  position: relative;

  p[data-field='tooltip'] {
    @include BodyText;

    width: max-content;

    position: absolute;
    top: 21px;
    left: 50%;
    z-index: 5;

    border-radius: 4px;

    padding: 3px 16px;

    color: white;
    background-color: rgba(0, 0, 0, 0.87);

    transition: opacity 0.3s ease-in-out;
  }
}
