.users-section--container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: var(--max-w);

  padding: var(--universal-padding);
  margin-top: var(--mt-b-sections);

  button {
    margin-top: 50px;
  }
}
