:root {
  // Colors
  --primary: #f4e041;
  --secondary: #00bdd3;
  --background: #f8f8f8;
  --error: rgba(203, 61, 64, 1);
  --input: rgba(208, 207, 207, 1);

  // Max width of sections
  --max-w: 1170px;

  // Margin top between sections
  --mt-b-sections: 140px;

  // Universal padding and media queries for it
  --universal-padding: 0;

  // Position of error messages for input fields
  --error-b-position: -18px;
  // Text error
  --error-l-position: 12px;

  @media screen and (min-width: 360px) {
    --universal-padding: 0 16px;
  }
  @media screen and (min-width: 768px) {
    --universal-padding: 0 32px;
  }
  @media screen and (min-width: 1024px) {
    --universal-padding: 0 60px;
  }
  @media screen and (min-width: 1170px) {
    --universal-padding: 0 0;
  }
}
// Setting font-family, box-sizing and removing default settings;
* {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;

  box-sizing: border-box;

  margin: 0;
  padding: 0;

  border: 0;
}

body{
  background-color: var(--background);
}